body{
    width: 100%;
    height: 900px;
    background: url(img/car-fundo.jpg);
    background-size: cover;
}


#login{
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.9);
    margin-top: 5%;
    margin-left: 770px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 370px;
    height: 350px;
    border: 1px solid;
    padding: 30px;
}


#login label{
    font-size: 18px;
    margin-bottom: 15px;
}
#login input{
    width: 270px;
    margin-bottom: 25px;
    border-radius: 7px;
}

#login p{
    margin-top: 40px;
    font-size: 15px;
}

#login a{
    text-decoration: none;
    color: black;
}

#login a:hover{
    text-decoration: none;
    color: rgb(109, 128, 155);
}

#login button{
    width: 90px;
    border-radius: 5px;
}

#logo{
    width: 200px;
    height: 200px;
}

#section-cadastro{
    margin: 0 auto;
    height: 520px;
    width: 370px;
    margin-top: -1px;
    padding: 5px;
    text-align: center;   
    align-items: center;
    display: flex;
    flex-direction: column; 
}


#section-cadastro input{
    margin: 0 auto;
    width: 60%;
}

#botao-cadastrar{
    margin: 80px;
    width: 500px;
}

#botao-cadastrar .btn{
    background-color:beige;
    color: black;
    border: black;
}

#botao-cadastrar .btn:hover{
    background-color:rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: black;
    transition: 0.5s;
}


#form-cadastrar{
    border-radius: 10px;
    padding: 20px;
    display: none;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.9);
}

#form-cadastrar h1{
    font-size: 35px;
    
}


#bttn{
    display: flex;
    flex-direction: column;
}

#bttn button{
    width: 300px;
    margin: auto;
}