*{
    margin: 0;
    padding: 0;
}

.cab{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}
.cab li{
    width: 900px;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    font-size: 25px;
    font-weight: bold;
    list-style: none;
    display: flex;
    gap: 25px;
}

li a{
    text-align: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    text-decoration: none;
    color: rgb(96, 17, 170);
}

li a:hover{
    color: rgb(255, 116, 116);
    zoom: 1.1;
    transition: 0.5s;
}

.home{
    display: flex;
    align-items: center;
}

article{
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

article img{
    width: 600px;
    height: 600px;
}

.descrip{
    gap: 5px;
    width: 400px;
    height: 100px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.descrip h1{
    color:rgba(81, 7, 150, 0.699)
}

.descrip h2{
    font-weight: lighter;
}

#gif{
    margin-left: 50px;
    float: right;
    width: 50%;
    height: 600px;
}

.status{
    width: 30%;
    display: flex;
    gap: 20px;
    border: 1px solid;
    border-radius: 15px;
    padding: 20px;
    justify-content: space-around;
}

.sub-status{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#obj{
    border: 1px solid;
}

.container{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container img{
    padding: 50px;
}

.container p{
    font-size:25px;
}

.sobre{
    margin-top: 160px;
    text-align: center;
}

.cont{
    background-color: antiquewhite;
    width: 100%;
    height: 800px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.atividades{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    display: flex;
    gap: 20px;
    align-content: center;
}

.atividades h2{
    text-align: center;
    height: 200px;
    border: 1px solid;
    padding: 40px;
}