@view-transition {
  navigation: auto;
}

html{
    scroll-behavior:smooth;
}

*{
    margin: 0;
    padding: 0;
    background-color: rgba(253, 253, 253, 0.349);
}

.cab{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.cab img{
    display: flex;
    position: absolute;
    width: 150px;
    height: 90px;
    font-size: 30px;
    margin-right: 20px;
    margin-left: -150vh;
}
.cab li{
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    font-size: 28px;
    font-weight: bold;
    list-style: none;
    display: flex;
    gap: 25px;
}

li a{
    text-align: center;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(96, 17, 170);
}

li a:hover{
    color: rgb(255, 116, 116);
    zoom: 1.1;
    transition: 0.5s;
}

.home{
    display: flex;
    align-items: center;
}

.home img{
    width: 600px;
    height: 500px;
}

article{
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

article #curso{
    position: absolute;
    height: 30px;
    font-size: 35px;
    text-align: center;
}

article img{
    width: 600px;
    height: 600px;
}

.descrip{
    margin-left: -40px;
    gap: 5px;
    width: 400px;
    height: 120px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.descrip h1{
    color:rgba(81, 7, 150, 0.699);
    width: 300px;
}

.descrip h2{
    font-weight: lighter;
    width: 200px;
    text-align: start;
}

#gif{
    width: 40%;
    height: 600px;
}

.status{
    width: 30%;
    height: 50px;
    display: flex;
    gap: 20px;
    border: 0.5px solid gray;
    border-radius: 50px;
    box-shadow: 2px 3px 10px 2px rgba(0, 0, 0, 0.4);
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}

.status h1{
    font-weight: bold;
}
.status h2{
    font-weight: normal;
}

.sub-status{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#obj{
    border-right: 2px solid rgba(0, 0, 0, 0.7);
    height: 60px;
}

.container{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container img{
    padding: 50px;
}

.container p{
    font-size:25px;
}

.sobre{
    margin-top: 160px;
    text-align: center;
}

.cont{
    width: 100%;
    height: 500px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont h1{
    padding: 10px;
    border: 1px solid;
    box-shadow: 2px 3px 10px 2px rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
}

.atividades{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    display: flex;
    gap: 20px;
    align-content: center;
    
}

a{
    text-decoration: none;
}

.block{
    display: flex;
    border: 1px solid;
    border-radius: 15px;
    box-shadow: 5px 2px 7px 2px rgba(30, 0, 85, 0.671);
    padding: 20px;
    width: 300px;
    height: 200px;
    align-items: center;
    justify-content: center;
}

.block h2{
    background-color: transparent;
}

.block a{
    text-decoration: none;
    background-color: transparent;
}

.block:hover{
    cursor: pointer;
    background-color: rgba(81, 7, 150, 0.295);
    color: white;
    font-weight: bold;
    transform: scale(1.05);
    transition: 0.4s;
}

.contatos{
    margin-top: -150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario{
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 300px;

}

.formulario input{
    font-size: 18px;
    padding: 10px;
    width: 700px;
    height: 60px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.formulario textarea{
    font-size: 18px;
    padding: 10px;
    width: 700px;
    height: 100px;
    border-radius: 15px;
    margin-bottom: 15px;
    font-size: 15px;
}

.formulario button{
    background-color: rgb(96, 17, 170);
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: bold;
    width: 200px;
    height: 50px;
    border-radius: 15px;
}

.formulario button:hover{
    cursor: pointer;
    background-color: rgba(43, 241, 255, 0.534);
    color: black;
    transition: 0.7s;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    border: 1px solid;
}