.cab{
    display: flex;
    align-items: start;
    position: fixed;
    float: left;
    z-index: 1;
    height: 100px;
    width: 90%;
    font-size:35px;
    padding: 20px;
    margin-top: -80px;
    margin-left: -10px;
    
    
}

.cab li{
    list-style: none;
}

.cab a{
    color: blueviolet;
    text-decoration: none;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.5);
}

.cab a:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    transition: 0.4s;
}

body{
    width: 100vw;
    height: 700px;
    justify-content: center;
    align-content: center;
}

#cont{
    display: flex;
    flex-direction: column;
    height: 420px;
    width: 350px;
    border: 1px solid black;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    align-items: center;
    text-align: center;
    box-shadow: 2px 4px 5px 3px rgba(0, 0, 0, 0.8);
}

#cont-i{
    display: flex;
    margin: 70px auto;
    flex-direction: column;
}

#cont-i button{
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#cont input{
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
}

#title{
    width: 41vh;
    border-bottom: 1px solid;
    margin-top: -20px;
}

#resultado{
    padding: 8px;
    margin: 60px auto;
    font-size: 20px;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 2px 4px 5px 3px rgba(0, 0, 0, 0.4);
    width: 260px;
    height: 30px;
}