.cab{
    display: flex;
    align-items: start;
    position: fixed;
    float: left;
    z-index: 1;
    height: 100px;
    width: 90%;
    font-size:35px;
    padding: 20px;
    margin-top: -600px;
    margin-left: -80px;
    
    
}

.cab li{
    list-style: none;
}

.cab a{
    color: blueviolet;
    text-decoration: none;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.5);
}

.cab a:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    transition: 0.4s;
}

body{
    display: flex;
    width: 100%;
    height: 800px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#cont{
    display: flex;
    flex-direction: column;
    height: 460px;
    width: 400px;
    border: 1px solid black;
    margin: auto;
    align-items: center;
    text-align: center;
    box-shadow: 2px 4px 5px 3px rgba(0, 0, 0, 0.8);
}

#cont-i{
    display: flex;
    margin: 70px auto;
    flex-direction: column;

}

#cont-i label{
    margin-bottom: 40px;
}

#cont-i button{
    padding: 10px;
    margin-top: 30px;
}

#resul{
    display: flex;
}

#resul h1{
    margin-top: 5px;
    margin-left: -30px;
    margin-right: 40px;
}
#cont input{
    height: 25px;
    font-size: 15px;
    width: 90px;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 70px;
    text-align: center;
}

#title{
    font-size: 20px;
    width: 100%;
    border: 1px solid;
    background: whitesmoke;
    box-shadow: 2px 1px 7px 2px rgba(0, 0, 0, 0.8);
}

#resultado {
    text-align: center;
    font-size: 20px;
    border: 1px solid;
    width: 80px;
    height: 27px;
    padding: 10px;
    margin-top:0px;

}

#cx{
    text-align: center;
    align-items:center;
    display: flex;
    margin-top: 10px;
    width: 150px;
    height: 40px;
}

#cx label{
    margin-top: 12px;
    margin-left: 30px;
    height: 0px;
}

#group{
    display: flex;
    flex-direction: wrap;
    text-align: center;
    align-items: center;
    margin-left: 10px;
}

