.cab{
    display: flex;
    align-items: start;
    position: fixed;
    float: left;
    z-index: 1;
    height: 100px;
    width: 90%;
    font-size:35px;
    padding: 20px;
    margin-top: 15px;
    margin-left: -130px;
    
    
}

.cab li{
    list-style: none;
}

.cab a{
    color: blueviolet;
    text-decoration: none;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.5);
}

.cab a:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    transition: 0.4s;
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.container{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#lampON{ 
    display: none;
}
#lampOff{
    display: block;
}

#lampOff:hover{
    display: block;
    cursor: pointer;
}

#lampQ{
    display: none;
}

.container button{
    border-radius: 8px;
    padding: 8px;
}

.container button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

#reparar{
    display: none;
}

#reparar:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}